<span class="flex justify-end">
    <button id="social-btn" class="transition duration-300 ease-in-out bg-blue-500 text-white px-2 py-2 rounded focus:outline-none hover:bg-blue-800"><i class="lni lni-share"></i> Share </button>
    <div id="social" class="hidden flex items-center py-1">
        <%= link_to 'https://facebook.com/sharer/sharer.php?u=' + @social_url, class: 'hover-trigger transition duration-300 ease-in-out px-2 py-1 mr-2 text-white bg-blue-500 rounded-full hover:text-white hover:bg-blue-800', :target => "_blank", "rel" => "noopener", :id => 'fb-btn' do %>
                <i class="lni lni-facebook-filled"></i><span id="share_facebook" class="hover-target z-50 hidden absolute rounded-lg p-3 bg-blue-500 bg-opacity-90 text-white transition-opacity duration-1000 ease-out">Share on Facebook</span>
        <% end %>
        <%= link_to 'https://twitter.com/intent/tweet/?text=' + @social_title + '&url=' + @social_url, class: 'hover-trigger transition duration-300 ease-in-out px-2 py-1 mx-2 text-white bg-blue-500 rounded-full hover:text-white hover:bg-blue-800', :target => "_blank", "rel" => "noopener", :id => 'twitter-btn' do %>
                <i class="lni lni-twitter-original"></i><span id="share_twitter" class="hover-target z-50 hidden absolute rounded-lg p-3 bg-blue-500 bg-opacity-90 text-white transition-opacity duration-1000 ease-out">Share on Twitter</span>
        <% end %>
        <%= link_to 'https://reddit.com/submit/?url=' + @social_url + '&resubmit=true&title=' + @social_title, class: 'hover-trigger transition duration-300 ease-in-out px-2 py-1 mx-2 text-white bg-blue-500 rounded-full hover:text-white hover:bg-blue-800', :target => "_blank", "rel" => "noopener", :id => 'reddit-btn' do %>
                <i class="lni lni-reddit"></i><span id="share_reddit" class="hover-target z-50 hidden absolute rounded-lg p-3 bg-blue-500 bg-opacity-90 text-white transition-opacity duration-1000 ease-out">Share on Reddit</span>
        <% end %>
        <button id="social-close" class="hover-trigger transition duration-300 ease-in-out px-2 py-1 ml-2 text-white bg-blue-500 rounded-full focus:outline-none hover:text-white hover:bg-blue-800"><i class="lni lni-close"></i><span id="close_social" class="hover-target z-50 hidden absolute rounded-lg p-3 bg-blue-500 bg-opacity-90 text-white transition-opacity duration-1000 ease-out">Close</span></button>
    </div>
</span>
